body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c4c4c4;
}
.container {
  max-width: 661px;
  position: relative;
  padding: 62px;
}

.input {
  width: 500px;
  height: 61px;
  font-size: 48px;
}

.autocomplete-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #000000;
  width: 100%;
  max-height: 240px;
  overflow: hidden;
}

.autocomplete-list li {
  height: 44px;
  border: 2px solid #000000;
  background-color: #e3e3e3;
  font-size: 30px;
}

.response-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #000000;
  width: 504px;
  margin-top: 45px;
  background-color: #e27beb;
  font-size: 24px;
  max-height: 297px;
  overflow: hidden;
  position: absolute;
  top: 370px;
}
.response-list ul {
  list-style-type: none;
  border: 1px solid #000000;
  padding: 8px 16px;
  position: relative;
}
.response-list button {
  position: absolute;
  top: 31px;
  right: 31px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: #e27beb;
  width: 42px;
  height: 38px;
}

.response-list button::before,
.response-list button::after {
  content: "";
  position: absolute;
  right: 0;
  width: 48px;
  height: 4px;
  background: #ff0000;
}
.response-list button::before {
  transform: rotate(45deg);
}
.response-list button::after {
  transform: rotate(-45deg);
}

.hidden {
  display: none;
}
